{% extends 'base.html.twig' %}

{% block title %}{{ seo.title|default('Какрасыч | Главная') }}{% endblock %}

{% block body %}
    <style>
        #oval {
            margin-left: -25%;
            width: 150%;

            background: red;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
    </style>
    <div class="container-sm">
        <div class="row row-cols-auto column-gap-md-5 justify-content-center">
            <div class="col-6 col-md-4 h-50 p-5  rounded-circle bg-secondary align-items-center">
                <img class="img-fluid" src="{{ asset('svg/logo.svg') }}">
            </div>
            <div class="d-none d-sm-block d-md-none w-100"></div>
            <div class="col-12 col-md-6 mt-5 p-3"
                 style="background: url('{{ asset('svg/fence.svg') }}') repeat-x ; background-size: cover;">
                <div class="col-sm-12 col-md-12" style="height: 100%">
                    <p class="p-4 text-success fs-3">
                        Каркасыч всегда тебя будет выручать! Качество, гарантии, надежность, вареные яица и многое другое!
                    </p>
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="btn btn-warning text-white fw-bold justify-content-center">Заказать шлюху</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="row mt-5 rounded-5 content-wrapper-green">
        <p class="p-4 text-success fs-3">Каркасыч всегда тебя будет выручат!</p>
    </div>
{% endblock %}
