<nav class="navbar navbar-expand-lg navbar-light bg-info p-3 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img width="32"  src="{{ asset('svg/logo_without_text.svg') }}" >

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto me-auto fs-5">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="{{ path('app_main') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Калькулятор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Цены</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Фотографии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Контакты</a>
                </li>

            </ul>

        </div>
    </div>
</nav>