html {
    overflow-x: hidden;
}
body {
    background-color: #FFFFFF!important;
    font-family: 'Kurale', serif!important;
    overflow-x: clip!important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kurale', serif!important;
}

.bg-secondary {
    background-color: #cfdaba !important;
}

.text-success {
    color: #284907!important;
}

.navbar {
    background-color: #cfdaba !important;
}
.navbar-nav .nav-link.active {
    border-bottom: #284907 2px solid !important;
}
.navbar-nav .nav-link {
    color: #000000!important;
}

.nav-link {
    padding-bottom: 0.25em!important;
    padding-top: 0.25em!important;
}
.fence_svg {
    filter: invert(95%) sepia(17%) saturate(342%) hue-rotate(22deg) brightness(89%) contrast(91%)!important;
}

@media (max-width: 1440px) {
    .fence-bg {
        background: unset!important;
    }
}

.content-wrapper-green {
    background-color: #cfdaba!important;
}

.content-wrapper-dark-green {
    background-color: rgb(40 73 7)!important
}

.content-wrapper-dark-green:hover {
    transition: 0.5s;
    background-color: rgb(55, 100, 10) !important
}

.bg-dark-green {
    background-color: rgb(40 73 7)!important

}
.bg-dark-green:hover {
    background-color: rgb(55, 100, 10) !important
}

/* ---------------------------------------------------
    OFFCANVAS ESSENTIALS
----------------------------------------------------- */
.offcanvas-end {

}
#offcanvasTop {
    height: 80vh!important;
}

#offcanvasBottom {
    height: 80vh!important;
}

.bg-green {
    background-color: #0d1803 !important;
}
.text-green {
    color: #0d1803!important;
}
